
<% @assignments.each do |assignment| %>
   <p> <%= link_to assignment.name, assignment_path(assignment) %>  -----  <%= link_to "delete" , assignment_path(assignment), method: "delete" %> </p>
<% end %>