<br>
<br>
<br>
<div class="field_with_errors">
    <% flash.each do |type, msg|%>
        <ul>
            <div class="alert alert-info" role="alert">
                 <li><%= msg %></li>
            </div>
        </ul>
    <% end %> 
</div>


